#https://github.com/docker/compose/releases
version: '3'
networks:
    lnmp-net:
        driver: bridge
services:
    mariadb:
        container_name: mariadb
        image: mariadb:10.4
        ports:
            - 3307:3306
        environment:
            MYSQL_ROOT_PASSWORD: 123456
        privileged: true
        volumes:
            - /www/docker-compose/lnmp/data/mariadb/db:/var/lib/mysql
        #    - /www/docker-compose/lnmp/data/mariadb/conf.d:/etc/my.cnf.d
            - /www/docker-compose/lnmp/data/mariadb/logs:/var/log/mariadb
        restart: always
        networks:
            - lnmp-net
    nginx:
        container_name: nginx
        image: nginx:1.16.1
        ports:
            - 80:80
            - 443:443
            - 8017:8017
        privileged: true
        volumes:
            - /www/docker-compose/lnmp/data/nginx/html:/usr/share/nginx/html
        #    - /www/docker-compose/lnmp/data/nginx/nginx.conf:/etc/nginx/nginx.conf
            - /www/docker-compose/lnmp/data/nginx/conf.d:/etc/nginx/conf.d
            - /www/docker-compose/lnmp/data/nginx/logs:/var/log/nginx
        depends_on:
            - mariadb
            - redis
            - memcached
            - php
        restart: always
        networks:
            - lnmp-net
    php:
        container_name: php
        # redis/memcache 扩展
        image: php-dev-runtime:1.0.0
        privileged: true
        volumes:
            - /www/docker-compose/lnmp/data/nginx/html:/usr/share/nginx/html
            - /www/docker-compose/lnmp/data/php/logs:/usr/local/var/log
        #    - /www/docker-compose/lnmp/data/php/php.ini:/usr/local/etc/php/php.ini
        #    - /www/docker-compose/lnmp/data/php/www.conf:/usr/local/etc/php-fpm.d/www.conf
        restart: always
        networks:
            - lnmp-net
        #dns:
        #    - 10.0.2.1
    redis:
        container_name: redis
        image: redis:5.0.7
        ports:
            - 6379:6379
        privileged: true
        volumes:
            - /www/docker-compose/lnmp/data/redis/data:/data
            - /www/docker-compose/lnmp/data/redis/db:/var/lib/redis
            - /www/docker-compose/lnmp/data/redis/logs:/var/log/redis
        restart: always
        networks:
            - lnmp-net
    memcached:
        container_name: memcached
        image: memcached
        ports:
            - 11211:11211
        command: -m 64
        privileged: true
        restart: always
        networks:
            - lnmp-net
